
body {
  margin: 0;
  overflow: hidden;
  font-family: "Playfair Display", serif;
  color: white;
  text-align: center;
}

.top-content__video video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.top-content__uvp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.top-content__uvp .top {
  display: block;
  font-size: 50px;
  font-style: italic;
  opacity: 0.8;
  margin-bottom: 10px;
}

.top-content__uvp span:not(.top):not(.bottom):not(.sub-btm) {
  font-size: 120px;
  letter-spacing: 3px;
  white-space: nowrap;
}

.top-content__uvp .bottom {
  font-size: 90px;
  font-style: italic;
  display: inline;
  margin-left: 10px;
}

.top-content__uvp .sub-btm {
  display: block;
  margin-top: 40px;
  font-size: 12px;
  letter-spacing: 2px;
  opacity: 0.8;
  text-transform: uppercase;
}